<div class='well'
  <h3>RSVPs for this event: <%= rsvps_for_event.count %></h3>

  <table class='table table-striped table-condensed small'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Job Title</th>
        <th>Organisation</th>
      </tr>
    </thead>

    <tbody>
      <% rsvps_for_event.map(&:member).sort_by(&:organisation).each do |member| %>
        <tr>
          <td><%= member.pretty_name %></td>
          <td><%= member.job_title %></td>
          <td><%= member.organisation %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
