<div class="jumbotron">
  <center>
    <img alt="" src="http://cacin.co.uk/logo.png" height="225" width="450">
    <br>
    <br>
    The Conservative Arts and Creative Industries Network was launched in May 2009.
    <br>
    <br>
    The Network brings together individuals who work in the arts and creative industries with the Culture Ministerial team, MPs, and senior figures in the Conservative party involved in developing policy in this area.
  </center>
</div>
