<div class="jumbotron">
  <center>
    <img alt="" src="http://cacin.co.uk/logo.png" height="225" width="450">
    <br />
    <br />
    <br />
    <br />
    <br />
    The Conservative Arts and Creative Industries Network was launched in May 2009.
    <br />
    <br />
    The Network brings together individuals who work in the arts and creative industries with the Ministerial Team at DCMS, MPs, and senior figures in the Westminster.
    <br />
    <br />
    <br />
    <br />
  </center>

  <div class="well">
    <%= bootstrap_form_tag url: email_admin_path do |f| %>
      <%= f.text_area :email_body, label: "Contact CACIN:", style: "height: 150px;" %>
      <%= f.submit value: "Send" %>
    <% end %>
  </div>

</div>
